<div style="padding: 0 20px; background-color: aliceblue;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <p class="m-0 text-dark" style="font-size: 24px;">PRAISE</p>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8">
                <mat-card class="example-card">

                </mat-card>
            </div><!-- /.col -->



            <div class="col-sm-4">


                <div>
                    <div class="card">
                        <div class="row mb-2" style="padding: 10px 20px;">
                            <div class="col-sm-8">
                                <div>Overdue Requests</div>
                            </div>
                            <div class="col-sm-4">
                                <!--Controls-->
                                <div>
                                    <div style="float: left">
                                        <mat-icon (click)="scrollLeft()">navigate_before</mat-icon>
                                    </div>
                                    <div style="float: right">
                                        <mat-icon (click)="scrollRight()">navigate_next</mat-icon>
                                    </div>
                                </div>
                                <!--/.Controls-->
                            </div>
                        </div>

                        <div style="padding: 0 20px; font-size: 12px;">
                            <div>
                                <div #widgetsContent class="scroll">
                                    <div style="display: inline-flex;">

                                        <!--First slide-->
                                        <div class="card" style="width: 180px; margin: 10px;">
                                            <div style="padding: 10px;">
                                                <div style="display: flex;">
                                                    <div style="display: flex; margin: 2px;">
                                                        <img width="32px" src="assets/img/avatar-user.png" />
                                                    </div>
                                                    <div>
                                                        <div>Venkat</div>
                                                        <div style="color: darkgray;">Store Manager</div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div>
                                                    <div>Overdue of April, 2021</div>
                                                    <div style="color: darkgray;">Requests - Today, 11:00 am</div>
                                                </div>
                                                <hr />
                                                <div
                                                    style="display: flex; justify-content: center; text-align: center;">
                                                    <div>
                                                        <div style="color: darkgray;">Reject</div>
                                                        <i style="color: darkgray;" class="material-icons">close</i>
                                                    </div>
                                                    <div style="margin-left: 20px;">
                                                        <div style="color: darkgray;">Approve</div>
                                                        <i style="color: darkgray;" class="material-icons">check</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.First slide-->

                                        <!--Second slide-->
                                        <div class="card" style="width: 180px; margin: 10px;">
                                            <div style="padding: 10px;">
                                                <div style="display: flex;">
                                                    <div style="display: flex; margin: 2px;">
                                                        <img width="32px" src="assets/img/avatar-user.png" />
                                                    </div>
                                                    <div>
                                                        <div>Sriram</div>
                                                        <div style="color: darkgray;">Store Manager</div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div>
                                                    <div>Overdue of April, 2021</div>
                                                    <div style="color: darkgray;">Requests - Today, 11:00 am</div>
                                                </div>
                                                <hr />
                                                <div
                                                    style="display: flex; justify-content: center; text-align: center;">
                                                    <div>
                                                        <div style="color: darkgray;">Reject</div>
                                                        <i style="color: darkgray;" class="material-icons">close</i>
                                                    </div>
                                                    <div style="margin-left: 20px;">
                                                        <div style="color: darkgray;">Approve</div>
                                                        <i style="color: darkgray;" class="material-icons">check</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.Second slide-->

                                        <!--Third slide-->
                                        <div class="card" style="width: 180px; margin: 10px;">
                                            <div style="padding: 10px;">
                                                <div style="display: flex;">
                                                    <div style="display: flex; margin: 2px;">
                                                        <img width="32px" src="assets/img/avatar-user.png" />
                                                    </div>
                                                    <div>
                                                        <div>Sneha</div>
                                                        <div style="color: darkgray;">Store Manager</div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div>
                                                    <div>Overdue of April, 2021</div>
                                                    <div style="color: darkgray;">Requests - Today, 11:00 am</div>
                                                </div>
                                                <hr />
                                                <div
                                                    style="display: flex; justify-content: center; text-align: center;">
                                                    <div>
                                                        <div style="color: darkgray;">Reject</div>
                                                        <i style="color: darkgray;" class="material-icons">close</i>
                                                    </div>
                                                    <div style="margin-left: 20px;">
                                                        <div style="color: darkgray;">Approve</div>
                                                        <i style="color: darkgray;" class="material-icons">check</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.Third slide-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding: 10px; display: flex; justify-content: end;">
                            <button mat-button>View All</button>
                        </div>

                    </div>

                </div>
                <!--/.Carousel Wrapper-->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->

</div>


<div style="background: white;">
    <div style="padding: 10px;">


        <div>

            <div class="row mb-2">

                <div class="col-sm-4">
                    <div style="display: flex; justify-content: center;">
                        <button style="width: 200px;" mat-raised-button color="primary"> + Create New</button>
                    </div>
                </div>

                <div class="col-sm-8">

                    <div>
                        <div class="row mb-2">
                            <div class="col-sm-8" style="display: flex; justify-content: end;">
                                <mat-form-field appearance="fill">
                                    <mat-label>Show</mat-label>
                                    <mat-select>
                                        <mat-option>Clear</mat-option>
                                        <mat-option value="valid">Valid option</mat-option>
                                        <mat-option value="invalid">Invalid option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <div style="float: left">
                                        <button mat-raised-button color="primary" (click)="scrollLeft2()">
                                            <mat-icon>navigate_before</mat-icon>
                                        </button>
                                    </div>
                                    <div style="float: right">
                                        <button mat-raised-button color="primary" (click)="scrollRight2()">
                                            <mat-icon>navigate_next</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div>

            <div style="padding: 0 20px; font-size: 14px;">
                <div>
                    <div #widgetsContent2 class="scroll">
                        <div style="display: inline-flex;">

                            <!--First slide-->
                            <div class="card" style="width: 360px; margin: 10px;">
                                <div style="padding: 10px;">
                                    <div>
                                        <div style="display: flex;">
                                            <div>
                                                <div>
                                                    <div style="font-size: 24px;">August, 2021</div>
                                                </div>
                                                <div style="font-size: 14px;">Evolution Period 1st - 15th September,
                                                    2021</div>
                                            </div>
                                            <div style="right: 0; position: absolute;">
                                                <div
                                                    style=" padding: 4px 10px; background: cornflowerblue; color: white; border-bottom-left-radius: 10px; border-top-left-radius: 10px; font-weight: bold; ">
                                                    Compleated</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-8">
                                                    <div style="color: darkgray;">Assigned Participants</div>
                                                    <div style=" padding: 10px 0;">
                                                        <div style="display: inline-flex;">
                                                            <div>
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user1.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 30px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user4.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 50px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user8.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 70px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user7.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 90px;">
                                                                <div
                                                                    style=" width: 40px; border-radius: 50%; color: #cd5757; background: rgb(238, 192, 231); height: 40px; display: flex; justify-content: center; align-items: center;">
                                                                    <div><strong>+700</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div style="display: flex; justify-content: end;">
                                                        <button mat-button>See all</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="row mb-2">
                                            <div class="col-sm-4">
                                                <div style="display: flex; justify-content: center;">
                                                    <div style="display: inline-flex;">690<div
                                                            style="color: darkgray; font-size: 10px; display: contents;">
                                                            /704</div>
                                                    </div>
                                                </div>
                                                <div style="color: springgreen; text-align: center;">Compleated</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div style="text-align: center;">10</div>
                                                <div style="color: #cd5757; text-align: center;">Overdue</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div style="text-align: center;">5</div>
                                                <div style="color: #17a2b8; text-align: center;">Requests</div>
                                            </div>
                                            <div style="position: absolute; right: 0; padding: 10px 4px">
                                                <mat-icon>navigate_next</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->


                            <!--Second slide-->
                            <div class="card" style="width: 360px; margin: 10px;">
                                <div style="padding: 10px;">
                                    <div>
                                        <div style="display: flex;">
                                            <div>
                                                <div>
                                                    <div style="font-size: 24px;">September, 2021</div>
                                                </div>
                                                <div style="font-size: 14px;">Evolution Period 1st - 15th October,
                                                    2021</div>
                                            </div>
                                            <div style="right: 0; position: absolute;">
                                                <div
                                                    style=" padding: 4px 10px; background: #4aaf4a; color: white; border-bottom-left-radius: 10px; border-top-left-radius: 10px; font-weight: bold; ">
                                                    Active</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-8">
                                                    <div style="color: darkgray;">Assigned Participants</div>
                                                    <div style=" padding: 10px 0;">
                                                        <div style="display: inline-flex;">
                                                            <div>
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user1.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 30px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user4.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 50px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user8.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 70px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user7.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 90px;">
                                                                <div
                                                                    style=" width: 40px; border-radius: 50%; color: #cd5757; background: rgb(238, 192, 231); height: 40px; display: flex; justify-content: center; align-items: center;">
                                                                    <div><strong>+700</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div style="display: grid; justify-content: flex-end;">
                                                        <button mat-button>See all</button>
                                                        <button mat-raised-button color="primary"
                                                            style="font-size: 18px;">+ Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="row mb-2">
                                            <div class="col-sm-4 activePanelFooter">
                                                <div style=" font-size: 18px; margin-top: 10px;">
                                                    <div style="color: darkgray; text-align: center;">Compleated</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-4">
                                                <div style="display: flex; justify-content: center; margin-top: 10px;">
                                                    <div style="display: inline-flex;">0<div
                                                            style="color: darkgray; font-size: 10px; display: contents;">
                                                            /704</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="position: absolute; right: 0; padding: 10px 4px">
                                                <mat-icon>navigate_next</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->




                            <!--Third slide-->
                            <div class="card" style="width: 360px; margin: 10px;">
                                <div style="padding: 10px;">
                                    <div>
                                        <div style="display: flex;">
                                            <div>
                                                <div>
                                                    <div style="font-size: 24px;">October, 2021</div>
                                                </div>
                                                <div style="font-size: 14px;">Evolution Period 1st - 15th Novmber,
                                                    2021</div>
                                            </div>
                                            <div style="right: 0; position: absolute;">
                                                <div
                                                    style=" padding: 4px 10px; background: #fd7e14; color: white; border-bottom-left-radius: 10px; border-top-left-radius: 10px; font-weight: bold; ">
                                                    Not Started</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-8">
                                                    <div style="color: darkgray;">Assigned Participants</div>
                                                    <div style=" padding: 10px 0;">
                                                        <div style="display: inline-flex;">
                                                            <div>
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user1.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 30px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user4.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 50px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user8.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 70px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user7.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 90px;">
                                                                <div
                                                                    style=" width: 40px; border-radius: 50%; color: #cd5757; background: rgb(238, 192, 231); height: 40px; display: flex; justify-content: center; align-items: center;">
                                                                    <div><strong>+700</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div style="display: grid; justify-content: flex-end;">
                                                        <button mat-button>See all</button>
                                                        <button mat-raised-button color="primary"
                                                            style="font-size: 18px;">+ Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="row mb-2">

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>

                                                </div>
                                            </div>

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>
                                                    <button mat-button class="btn-danger">
                                                        <mat-icon>restore_from_trash</mat-icon>Delete
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>
                                                    <button mat-button class="btn-warning">
                                                        <mat-icon>edit</mat-icon>Edit
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Third slide-->






                            <!--Fourth slide-->
                            <div class="card" style="width: 360px; margin: 10px;">
                                <div style="padding: 10px;">
                                    <div>
                                        <div style="display: flex;">
                                            <div>
                                                <div>
                                                    <div style="font-size: 24px;">Novmber, 2021</div>
                                                </div>
                                                <div style="font-size: 14px;">Evolution Period 1st - 15th December,
                                                    2021</div>
                                            </div>
                                            <div style="right: 0; position: absolute;">
                                                <div
                                                    style=" padding: 4px 10px; background: #fd7e14; color: white; border-bottom-left-radius: 10px; border-top-left-radius: 10px; font-weight: bold; ">
                                                    Not Started</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-8">
                                                    <div style="color: darkgray;">Assigned Participants</div>
                                                    <div style=" padding: 10px 0;">
                                                        <div style="display: inline-flex;">
                                                            <div>
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user1.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 30px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user4.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 50px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user8.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 70px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user7.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 90px;">
                                                                <div
                                                                    style=" width: 40px; border-radius: 50%; color: #cd5757; background: rgb(238, 192, 231); height: 40px; display: flex; justify-content: center; align-items: center;">
                                                                    <div><strong>+700</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div style="display: grid; justify-content: flex-end;">
                                                        <button mat-button>See all</button>
                                                        <button mat-raised-button color="primary"
                                                            style="font-size: 18px;">+ Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="row mb-2">

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>

                                                </div>
                                            </div>

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>
                                                    <button mat-button class="btn-danger">
                                                        <mat-icon>restore_from_trash</mat-icon>Delete
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>
                                                    <button mat-button class="btn-warning">
                                                        <mat-icon>edit</mat-icon>Edit
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fourth slide-->





                            <!--Fifth slide-->
                            <div class="card" style="width: 360px; margin: 10px;">
                                <div style="padding: 10px;">
                                    <div>
                                        <div style="display: flex;">
                                            <div>
                                                <div>
                                                    <div style="font-size: 24px;">December, 2021</div>
                                                </div>
                                                <div style="font-size: 14px;">Evolution Period 1st - 15th January,
                                                    2022</div>
                                            </div>
                                            <div style="right: 0; position: absolute;">
                                                <div
                                                    style=" padding: 4px 10px; background: #fd7e14; color: white; border-bottom-left-radius: 10px; border-top-left-radius: 10px; font-weight: bold; ">
                                                    Not Started</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-8">
                                                    <div style="color: darkgray;">Assigned Participants</div>
                                                    <div style=" padding: 10px 0;">
                                                        <div style="display: inline-flex;">
                                                            <div>
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user1.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 30px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user4.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 50px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user8.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 70px;">
                                                                <img style=" width: 40px; border-radius: 50%;"
                                                                    src="assets/img/user7.jpg" />
                                                            </div>
                                                            <div style="position: absolute; left: 90px;">
                                                                <div
                                                                    style=" width: 40px; border-radius: 50%; color: #cd5757; background: rgb(238, 192, 231); height: 40px; display: flex; justify-content: center; align-items: center;">
                                                                    <div><strong>+700</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div style="display: grid; justify-content: flex-end;">
                                                        <button mat-button>See all</button>
                                                        <button mat-raised-button color="primary"
                                                            style="font-size: 18px;">+ Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="row mb-2">

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>

                                                </div>
                                            </div>

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>
                                                    <button mat-button class="btn-danger">
                                                        <mat-icon>restore_from_trash</mat-icon>Delete
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 activePanelFooter">
                                                <div>
                                                    <button mat-button class="btn-warning">
                                                        <mat-icon>edit</mat-icon>Edit
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fifth slide-->







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>