<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/windows/32/000000/home.png" />
                    </i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/ios/50/000000/light-on--v1.png" />
                    </i>
                    <p></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/dotty/32/000000/graduation-cap.png" />
                    </i>
                    <p></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/ios/50/000000/bar-chart--v1.png" />
                    </i>
                    <p></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/ios-glyphs/30/000000/name.png" />
                    </i>
                    <p></p>
                </a>
            </li>


            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/ios-glyphs/30/000000/trophy.png" />
                    </i>
                    <p></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/ios-glyphs/30/000000/planner.png" />
                    </i>
                    <p></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon">
                        <img style="width: 20px;" src="https://img.icons8.com/ios-glyphs/30/000000/user.png" />
                    </i>
                    <p></p>
                </a>
            </li>

        </ul>
    </nav>

</div>